# Environment variables for the development environment
NODE_ENV=development
PORT=3001
ORIGINS=*

# Database configuration
DB_HOST=localhost
DB_PORT=5431
DB_DATABASE=employee_management
DB_USER=postgres
DB_PASSWORD=
DB_SCHEMA=public

# Basic Auth And JWT configuration
SECRET_KEY=9ecc26daff6715d5e2a574583aa39c0f9125581fab67fcbdb0166bcba1b9bc76
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=
